

<body>

  <div class="bg-default">
    <!-- Pre-Header Section -->
    <!-- process:include partials/pre-header.html -->
    <div class="container pre-header" itemscope itemtype="http://schema.org/ProfessionalService">
      <div class="row">
        <div class="col-12">
          <span itemprop="telephone">(555) 555-1234</span> <a class="btn-sm-round btn-secondary btn-inline" href="/contact/">Contact Us</a>
        </div>
      </div>
    </div>
    <!-- /process -->

    <!-- Main Header -->
    <header class="container">
      <div class="row no-pad">
        <div class="col-3">
          <h1 class="hug">
            <a href="/"><img src="img/branding/logo.png" alt="Clever Web Design Home" /></a>
          </h1>
        </div>
        <nav class="col-9">
          <!-- process:include partials/nav.html -->
          <ul>
            <li><a href="websites/">Websites</a></li>
            <li><a href="mobile-apps/">Apps &amp; Mobile</a></li>
            <li><a href="marketing/">Marketing</a></li>
            <li><a href="about/">About Us</a></li>
            <li><a href="portfolio/">Portfolio</a></li>
            <li><a href="blog/">Notes</a></li>
          </ul>
          <a href="#" class="mobile-show nav-button"><i class="fa fa-bars"></i> Navigation</a>
          <!-- /process -->
        </nav>
      </div>
    </header>

    <!-- Hero unit -->
    <section class="container hero">
      <div class="row-loose">
        <div class="col-12">
          <span class="heading">Let's build a <br /></span><span class="heading">website together</span>
          <ul id="service-picker" class="service-picker">
            <li>
              <a href="#">What are you looking for? <i class="fa fa-angle-down"></i></a>
              <ul>
                <li><a href="websites/">I need a new website</a></li>
                <li><a href="websites/#website-redesigns">I have a site but it needs work</a></li>
                <li><a href="websites/#ecommerce-sites">I want to start selling my products online</a></li>
                <li><a href="mobile-apps/">I need a mobile site or an app</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Post-Hero -->
    <div class="post-hero">
      <section class="container">
        <div class="row">
          <div class="col-12">
            <p>
              Since 2010 Clever has been helping real people like you create better websites for their companies and nonprofit organizations.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Main content -->
  <main class="container">
    <!-- Main service buckets -->
    <section class="row">
      <div class="col-4 centered-text">
        <h2 class="slant bg-before img-sites">Websites</h2>
        <p class="lg">
          Whether you need a new website, a redesign, or just some quick fixes we've seen it all and we can help.
        </p>
        <a class="text-button" href="websites/">Learn more</a>
      </div>
      <div class="col-4 centered-text">
        <h2 class="slant bg-before img-apps">Apps &amp; Mobile</h2>
        <p class="lg">
          We can design mobile sites and native apps so your customers can find you anywhere.
        </p>
        <a class="text-button" href="mobile-apps/">Learn more</a>
      </div>
      <div class="col-4 centered-text">
        <h2 class="slant bg-before img-seo">Marketing</h2>
        <p class="lg">
          Online marketing strategies including SEO, email &amp; SMS campaigns, and proactive online advertising.
        </p>
        <a class="text-button" href="marketing/">Learn more</a>
      </div>
    </section>

    <!-- FAQ -->
    <div class="row-loose">
      <div class="col-12 centered-text">
        <h2 class="slant">Frequently Asked Questions</h2>
      </div>
    </div>
    <section class="row-loose">
      <article class="col-6">
        <dl class="faq">
          <dt>How much does a website cost?</dt>
          <dd>
            That all depends on your needs and budget. We’ll work together to get the most out of your website while keeping the cost within your comfort zone. While each project is different our <a href="pricing/">estimation tool</a> can give you a rough idea.
          </dd>
          <dt>Can I edit my own website?</dt>
          <dd>
            Of course! These days the ability to edit your site is a given. If you prefer to have us or someone else keep your site up to date we can accommodate that as well.
          </dd>
          <dt>What happens if you disappear?</dt>
          <dd>
            Nothing. You own your website, domain, and hosting even if you've delegated the management of those services to us. You have full control over your website and you or anyone you choose will be able to access and maintain it whether we’re here or not.
          </dd>
        </dl>
      </article>
      <article class="col-6">
        <dl class="faq">
          <dt>Are you using a template?</dt>
          <dd>
            No, not unless you ask us to. We start each project under the assumption that you'll want a custom website. If you already have a template in mind that you want to build on we’ll be happy to modify it to your liking. 
          </dd>
          <dt>Are there any ongoing or hidden fees?</dt>
          <dd>
            Things like hosting and domain names will need to be paid for on a monthly or yearly basis. Aside from that there isn't anything else you'll need to pay for.
          </dd>
          <dt>Will my site be search engine friendly?</dt>
          <dd>
            Yes. No question about it. If you want to know about the technical details we'll be happy to explain them but we've found most people prefer to focus on their business while we take care of the technical stuff.
          </dd>
        </dl>
      </article>
    </section>

    <!-- Call to action button -->
    <div class="row-loose">
      <div class="col-12">
        <a class="btn-lg-round btn-cta" href="contact/">Let's Have a Conversation</a>
      </div>
    </div>
  </main>

  <!-- process:include partials/pre-footer.html -->
  <section class="container pre-footer">
    <div class="row-loose">
      <p>Helping the people behind some of Chicago's best companies five years running</p>
      <ul>
        <li><img src="/img/client_logos/moonweather-bw.png" alt="MoonWeather for iOS and Android" /></li>
        <li><img src="/img/client_logos/hero-bw.png" alt="The Heroin Epidemic Relief Organization, a 501c(3) charity" /></li>
        <li><img src="/img/client_logos/writeapp-bw.png" alt="Write.app, a web application for writing and note taking" /></li>
        <li><img src="/img/client_logos/rcc-bw.png" alt="The Robert Crown Center for Health Education" /></li>
        <li><img src="/img/client_logos/herohelps-bw.png" alt="The annual HERO/Will County HELPS event" /></li>
        <li><img src="/img/client_logos/swc-bw.png" alt="The Southwest Coalition for Substance Abuse Issues" /></li>
      </ul>
    </div>
  </section>
  <!-- /process -->
  <!-- process:include partials/footer.html -->
  <footer class="container">
    <section class="row-loose">
      <div class="col-4">
        <span class="bg-logo clyde"></span>
        <div class="alt-service">
          <h3>Clever</h3>
          <p>
            We build websites for real people. Clever works in and around the Chicago area and our down-to-earth approach to each project will make you happy you called. Talk to us today.
          </p>
          <a class="text-link" href="/contact/">Contact us</a>
        </div>
      </div>
      <div class="col-4">
        <h3>Want to do it yourself?</h3>
        <p>
          Our sister company, Press It!, offers hassle-free Wordpress sites. Sign up now and be online by tonight.
        </p>
        <a class="text-link" href="/about/companies.html#pressit">DIY Wordpress Sites <i class="fa fa-angle-right"></i></a>
      </div>
      <div class="col-4">
        <h3>Need something simple?</h3>
        <p>
          Space Kits is a service offering beautiful one-page websites for less than the cost of a cup of coffee.
        </p>
        <a class="text-link" href="/about/companies.html#spacekits">Beautiful One-Pagers <i class="fa fa-angle-right"></i></a>
      </div>
    </section>
    <section class="row">
      <div class="col-6">
        <ul>
          <li><a href="/"><img src="img/branding/logo-footer.png" alt="Clever Web Design Home" /></a></li>
          <li><a href="/sitemap.html">Sitemap</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="http://cleverlabs.info">Labs</a></li>
        </ul>
        <p class="hug">
          <small>&copy; 2010-<script>document.write(new Date().getFullYear());</script> Clever. All rights reserved.</small>
        </p>
      </div>
      <div class="col-6">
        <ul class="social-links">
          <li><a href="#github" title="We share code on GitHub"><i class="fa fa-2x fa-github"></i></a></li>
          <li><a href="#twitter" title="Follow us on Twitter"><i class="fa fa-2x fa-twitter-square"></i></a></li>
          <li><a href="#rss" title="Subscribe to our feed"><i class="fa fa-2x fa-rss-square"></i></a></li>
        </ul>
      </div>
    </section>
  </footer>
  <!-- /process -->

  <!-- process:[src] //ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js -->
  <script src="bower_components/jQuery/dist/jquery.min.js"></script>
  <!-- /process -->
  <!-- process:js js/scripts.js -->
  <script src="js/scripts.js"></script>
  <!-- /process -->

  <!-- process:include partials/analytics.html -->
    <!-- Google Analytics will be placed here -->
  <!-- /process -->

</body>
</html>
